.header {
  background-color: var(--primary);
  
  height: 12vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo img {
  width: 80px;
  height: 80px;
}

.header .navigation ul {
  display: flex;
  gap: 50px;
}

.header .navigation ul li a{
  color: var(--light);
  text-transform: capitalize;
}
