.header {
  background-color: var(--primary);
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ajuste conforme necessário */
  /* Adicione qualquer estilo adicional que você desejar */
  background-color: var(--primary); /* Exemplo de cor de fundo */
  transition: all 0.3s ease; /* Adicione esta linha para a transição suave */

}
.fixed-header-animation {
  box-shadow: 4px 12px 12px rgba(0, 0, 0, 0.089); /* Exemplo de sombra diferente */
  /* Adicione outros estilos desejados */
}
.header .logo img {
  width: 80px;
  height: 80px;
}

.header .navigation ul {
  display: flex;
  gap: 50px;
}

.header .navigation ul li a{
  color: var(--light);
  text-transform: capitalize;
}

.mobile-menu{
  cursor: pointer;
  display: none;
}

.mobile-menu div{
  width: 25px;
  height: 3px;
  background-color: var(--light);
  margin: 5px;
}

.navigation .nav-list img{
  display: none;
}

.fa-xmark{
  display: none;
}

@media (max-width: 768px) {
  .header {
    align-items: flex-start;
    height: auto;
  }
  .mobile-menu div{
    background-color: var(--primary);
  }
   .navigation .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--light);
    transform: translateX(-1000px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    z-index: 99;
    transition: transform 0.3s ease-in;
  }
  .navigation {
    display: block;
  }


  .navigation .nav-list img{
    position: absolute;
    top: 25px;
    left: 34px;
    display: initial;
    transform: translateY(18px);
    width: 80px;
  }

  .header .navigation ul li a{
    font-size: 1.5rem;
    color: var(--primary);
  }

  .nav-list li{
    margin: left;
    opacity: 0;
  }

  .nav-list.active{
    transform: translateX(0);
  }
  
  .nav-list.active .close-menu{
    display: initial;
    position: absolute;
    top: 25px;
    right: 24px;
    color: var(--primary);
    font-size: 34px;
  }

  .mobile-menu.active .close-menu {
    display: initial;
  }

  .mobile-menu{
    position: absolute;
    display: block;
    z-index: 299;
    top: 25px;
    right: 34px;
    color: var(--light);
    font-size: 24px;
  }
  @keyframes navLinkFade { 
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .nav-list:not(.active) .nav-links {
    animation: none;
    opacity: 1;
    transform: translateX(0);
  }
  .nav-list:not(.active) {
    transform: translateX(-1000px);
  }
}