@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&family=Nunito+Sans:wght@400;700&display=swap');
@import url(header.css);
@import url(home.css);
@import url(kits.css);
@import url(feedback.css);
@import url(footer.css);

*{
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: var(--light);

}
:root{
  --primary : #F60642;
  --primary200: #DF2247;
  --light : #FFFFFF;  
  --grayLight : #717171;
  --gray : #4D4D4D;
  --white : #f5f7fad3;
  --pink : #f178b6;
  --grayFeed : #f5f7fa;
  --darkBlue : #18191F
}

.container {
  padding: 0 4rem;
  @media(max-width: 768px) {
    padding: 0 2rem;
  }
}

 .btn-buy {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.btn-buy .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--light);
  outline: none;
  border: none;
  background-color: var(--primary200);
  width: 155px;
  height: 52px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
}
